<!DOCTYPE html>
<html>
<head>
  <title>Signup Page</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <h2>Signup</h2>
    <form id="signupForm" action="signup" method="post">
      {{!-- <input type="text" id="username" placeholder="Username" required><br> --}}
      <input type="text" id="username" name="username" placeholder="Username" required><br>
      <input type="text" id="email" name="email" placeholder="Email" required><br>
      <input type="password" id="password" name="pass" placeholder="Password" required><br>

      <button type="submit">Signup</button>
    </form>
  </div>

  {{!-- <script src="js/main.js"></script> --}}
</body>
</html>
